body {
    background: #d2d6de;
}
a:link {
    text-decoration: none;
    width:150px;
}

.login-box{
    width: 340px;
    margin: 2% auto;
}
.logo {
    margin-top: 50px;
}
.logo{
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}
.login-box-body{
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}
/* .login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #777;
} */
.login-box-msg{
  
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 20px;
    color: #0073b7;
}
.btn-forgot {
    color: #fff; 
background-color: #f0ad4e; 
     border-color: #eea236;
}
.mail {
    position: relative;
}
/* .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.bg-olive-active {
    background-color: #368763 !important;
}
/* .bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer, .bg-blue-light, .bg-green-light, .bg-black-light, .bg-purple-light, .bg-red-light, .bg-yellow-light, .bg-yellow, .bg-yellow-light, .bg-orange {
    color: #fff !important;
} */
.btn{
    color: #fff !important;
} 
.col-md-12{
    font-size: 14px;
}  
/* .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-user:before {
    content: "\f007";
} */
.col-xs-4 {
    width: 33.33333333%;
}
.footer {
    font-size: 12px;
}